<% show_post ||= false %>

<div class="row">
	<div class="span0 well text-center">
		<%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
			<i class="icon-arrow-up"></i>
		<% end %>
		<div class="text-center">
			score: <%= comment.total_votes %>
		</div>
		<%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
			<i class="icon-arrow-down"></i>
		<% end %>
	</div>

	<div class="well span8">
		<em>"<%= comment.body %>"</em>
		<br />
		<span class="quiet">by</span> <%= link_to(comment.user.username, user_path(comment.user)) %>
		<small>at <%= display_datetime(comment.created_at) %></small>
		<% if show_post %>
			<br />
			<span class="quiet">on</span> <%= link_to(comment.post.title, post_path(comment.post)) %>
		<% end %>
	</div>
</div>